# AutoML y Reglas de Asociación

En la era digital en la que nos encontramos, las empresas cada vez más disponen de grandes cantidades de datos de sus clientes. Esto ha sido posible gracias al avance exponencial de la tecnología y al abaratamiento del almacenamiento de datos. Todo ello ha estimulado la necesidad en las empresas de aprender a tratar estos datos y poder conseguir de ellos información útil que les permita conocer mejor aún a sus clientes. En este proyecto vamos a utilizar la técnica de reglas de asociación.

# Reglas de Asociación

Association Rule Mining o reglas de Asociación  es una  técnica de aprendizaje automático basada en reglas  para descubrir relaciones interesantes entre variables en una base de datos. Su objetivo es identificar reglas sólidas utilizando medidas de interés. Algunos casos de uso comercial comunes para la minería de reglas de asociación son:

-  Análisis de la cesta de la compra para comprender que artículos  se compran juntos con frecuencia.
-  Diagnóstico médico para ayudar a los médicos a determinar la probabilidad de aparición de enfermedades dados los factores y síntomas.

Consiste en un antecedente y un consecuente, los cuales son una lista de elementos. Tenga en cuenta que la implicación aquí es co-ocurrencia y no causalidad. Para una regla dada, itemset es la lista de todos los elementos del antecedente y el consecuente.

Existen varias métricas para ayudarnos a comprender la fuerza de la asociación entre elementos:
1. **Soporte** . Esto indica qué tan popular es un conjunto de elementos, medido por la proporción de transacciones en las que aparece un conjunto de elementos.
2. **Confianza** . Esto indica la probabilidad de que se compre el artículo Y cuando se compra el artículo X, expresado como {X -> Y}. 
3. **Lift**. Esto indica la probabilidad de que se compre el artículo Y cuando se compra el artículo X, mientras se controla la popularidad del artículo Y

![ChessUrl](https://annalyzin.files.wordpress.com/2016/04/association-rules-apriori-tutorial-explanation.gif "Association")

<img src="Resumen Métricas.jpg">

Vamos a explicar estos concepto con la ayuda de un ejemplo**

Supongamos que tenemos un registro de 1.000 transacciones de clientes y queremos averiguar el soporte, la confianza y la elevación para la leche y los pañales.

De las 1.000 transacciones, 120 contienen leche y 150 contienen pañales.
De estas 150 transacciones en las que se compra un pañal, 20 contienen también leche.
Utilizaremos estos datos para calcular el soporte, la confianza y la elevación.

**Soporte**. Indica la frecuencia con la que los artículos aparecen en los datos y proporciona protección para las transacciones que contiene “A” y “B”. Dice lo popular que es un conjunto de artículos, medido por la proporción de transacciones en las que aparece un conjunto de artículos.

Puede calcularse hallando el número de transacciones que contienen un determinado artículo dividido por el número total de transacciones.

Por lo tanto, el soporte de pañal será igual a las transacciones que contiene pañal (150) dividido entre las transacciones totales (1.000). Para nuestro ejemplo, el soporte será igual de 15%.

Soporte = Número de veces que ha ocurrido “A” / Número total de transacciones

**Confianza**. Se refiere a la probabilidad de que un artículo “B” se compre también si se compra el artículo “A”. Se puede calcular hallando el número de transacciones en las que “A” y “B” se compran juntos, dividido por el número total de transacciones en las que se compra “A”.

Por lo tanto, confianza de la probabilidad de comprar un pañal si un cliente compra leche será igual a las transacciones que contienen tanto leche como pañal (30) entre las transacciones que contienen leche (120). Para nuestro ejemplo la confianza es igual a 25%.

Confianza = Número de veces que se han producido “A” y “B” / Total de ocurrencias de “A”

**Lift**. Indica la probabilidad de que se compre el artículo “B” cuando se compra el artículo “A”, controlando al mismo tiempo la popularidad del artículo “B”. Se puede calcular dividiendo la confianza entre el soporte.

Por lo tanto, el lift será la confianza (25%) entre el soporte (15%). Para nuestro ejemplo este valor será igual a 1,66, que significa que hay 1,66 veces más posibilidades de comprar leche y pañales juntos que de comprar solo pañales.

Lift = Confianza de “A” y “B” / Soporte

# Caso Práctico

Una compañía de ventas de cerveza y refrescos contratan nuestro servicio de consultor en Big Data debido a que tienen interés de cómo se comporta el consumidor dentro de su establecimiento. Esta información quieren utilizarlo para determinar dónde colocar los productos dentro de la empresa, así como para ayudar a administrar el inventario al personal.
El objetivo es identificar qué artículos o categoría de artículos tienden a comprarse conjuntamente revelando así patrones o relaciones de compra que antes no eran tan evidentes o se desconocían y puedan ser explotadas comercialmente.

# Características del Dataset

## 1- Análisis de datos y preprocesamiento

**Datos de la cabecera factura**

- **idfactura:** Id único para identifica cada factura (transacción) 
- **coddistribuidora:** Código de distribuidora.
- **nombredistribuidora:** Nombre de la distribuidora.
- **idcuenta:** id de la cuenta, único para identificar a cada cliente.
- **fechaemision:** Fecha de la factura.

In [1]:
import pandas as pd
cabecera = pd.read_csv('f2019.csv',sep=';')
cabecera

,idfactura,coddistribuidora,nombredistribuidora,idcuenta,fechaemision
0,11674992,15,ARMIN EDELIRA ...,54122,2019/09/13 00:00:00.000
1,11674993,15,ARMIN EDELIRA ...,54133,2019/09/13 00:00:00.000
2,11674994,15,ARMIN EDELIRA ...,54133,2019/09/13 00:00:00.000
3,11674995,15,ARMIN EDELIRA ...,52059,2019/09/13 00:00:00.000
4,11674996,15,ARMIN EDELIRA ...,52984,2019/09/13 00:00:00.000
...,...,...,...,...,...
911723,11674987,15,ARMIN EDELIRA ...,53985,2019/09/13 00:00:00.000
911724,11674988,15,ARMIN EDELIRA ...,53499,2019/09/13 00:00:00.000
911725,11674989,15,ARMIN EDELIRA ...,53939,2019/09/13 00:00:00.000
911726,11674990,15,ARMIN EDELIRA ...,53939,2019/09/13 00:00:00.000
911727,11733044,1,FELTES ...,114476,2019/09/28 00:00:00.000

In [2]:
#Verificamos los tipos de datos de las columnas
cabecera.dtypes

idfactura               int64
coddistribuidora        int64
nombredistribuidora    object
idcuenta                int64
fechaemision           object
dtype: object

**Datos del detalle factura**

- **id:** Id único para identifica el detalle factura 
- **idfactura:** id de la cabecera factura.
- **nroarticulo:** número del articulo o producto.
- **descripcionarticulo:** descripción del articulo o producto.
- **idmarca:** id de la marca del articulo o producto.
- **cantidadxembalaje:** cantidad vendida del articulo
- **preciobrutosinimpuesto:** precio sin iva del articulo vendido asociado a la factura.

In [3]:
#sep es para indicar el tipo de separador de los datos por defecto es ',' ; decimal indica carácter para reconocer como punto decimal(default='.')
import pandas as pd
detalle = pd.read_csv('detalle_venta_2019.csv',sep=';',decimal=',')
detalle

,id,idfactura,nroarticulo,descripcionarticulo,idmarca,cantidadxembalaje,preciobrutosinimpuesto
0,55024411,11824273,17920,BRAHMA RET X24 340 NVBI ...,2267,24.0,45909.090909
1,55024410,11824273,649,1/1 BRAHMA X 12 ...,2267,12.0,50818.181818
2,55024413,11824274,17920,BRAHMA RET X24 340 NVBI ...,2267,24.0,45909.090909
3,55024412,11824274,649,1/1 BRAHMA X 12 ...,2267,12.0,50818.181818
4,54445068,11645877,59,1/3 OURO FINO LATA X 12 ...,223,12.0,32454.545455
...,...,...,...,...,...,...,...
3065740,48610408,10223082,5523,"BRAH CAN X12 0,269L ...",2267,12.0,27272.727273
3065741,52608367,11098180,5523,"BRAH CAN X12 0,269L ...",2267,12.0,27272.727273
3065742,55274018,11901741,167,COCA COLA PET 1.5 LT.X 6 ...,478,6.0,42454.545455
3065743,48610200,10223023,5523,"BRAH CAN X12 0,269L ...",2267,12.0,27272.727273
3065744,52481080,11065101,18539,PILSEN �ANDE OW 4X6 330 ...,2548,24.0,91818.181818

In [4]:
detalle.dtypes

id                          int64
idfactura                   int64
nroarticulo                 int64
descripcionarticulo        object
idmarca                     int64
cantidadxembalaje         float64
preciobrutosinimpuesto    float64
dtype: object

In [5]:
#Se elimina la columna id ya que no lo utilizaremos
detalle = detalle.drop(columns= ['id']) 
detalle

,idfactura,nroarticulo,descripcionarticulo,idmarca,cantidadxembalaje,preciobrutosinimpuesto
0,11824273,17920,BRAHMA RET X24 340 NVBI ...,2267,24.0,45909.090909
1,11824273,649,1/1 BRAHMA X 12 ...,2267,12.0,50818.181818
2,11824274,17920,BRAHMA RET X24 340 NVBI ...,2267,24.0,45909.090909
3,11824274,649,1/1 BRAHMA X 12 ...,2267,12.0,50818.181818
4,11645877,59,1/3 OURO FINO LATA X 12 ...,223,12.0,32454.545455
...,...,...,...,...,...,...
3065740,10223082,5523,"BRAH CAN X12 0,269L ...",2267,12.0,27272.727273
3065741,11098180,5523,"BRAH CAN X12 0,269L ...",2267,12.0,27272.727273
3065742,11901741,167,COCA COLA PET 1.5 LT.X 6 ...,478,6.0,42454.545455
3065743,10223023,5523,"BRAH CAN X12 0,269L ...",2267,12.0,27272.727273
3065744,11065101,18539,PILSEN �ANDE OW 4X6 330 ...,2548,24.0,91818.181818

In [6]:
#Unificamos ambos dataframe para la creacion de uno sólo
#explicacion con ejemplos claros de como unificar dos dataframe https://es.stackoverflow.com/questions/403245/c%C3%B3mo-unir-dataframes-en-pandas
ventas = cabecera.merge(detalle,on='idfactura',how='inner')
ventas

,idfactura,coddistribuidora,nombredistribuidora,idcuenta,fechaemision,nroarticulo,descripcionarticulo,idmarca,cantidadxembalaje,preciobrutosinimpuesto
0,11674992,15,ARMIN EDELIRA ...,54122,2019/09/13 00:00:00.000,2256,SPRITE NUEVA PET 500MLX6 ...,1402,6.0,21818.181818
1,11674992,15,ARMIN EDELIRA ...,54122,2019/09/13 00:00:00.000,162,COCA COLA PET 500 CCX6 ...,1366,6.0,21818.181818
2,11674993,15,ARMIN EDELIRA ...,54133,2019/09/13 00:00:00.000,1155,FANTA PET 500 CCX6 ...,1416,6.0,21818.181818
3,11674993,15,ARMIN EDELIRA ...,54133,2019/09/13 00:00:00.000,2732,Frugos del Valle Manzana 200MLX18 ...,1436,18.0,39090.909091
4,11674993,15,ARMIN EDELIRA ...,54133,2019/09/13 00:00:00.000,3703,ADES MANZANA MULTI10 24X200ML ...,1391,24.0,60909.090909
...,...,...,...,...,...,...,...,...,...,...
3065740,11674990,15,ARMIN EDELIRA ...,53939,2019/09/13 00:00:00.000,1688,BUD 66 CAN X12 ...,1380,12.0,55454.545455
3065741,11674990,15,ARMIN EDELIRA ...,53939,2019/09/13 00:00:00.000,16940,BUDWEISER 66 CAN X12 269 ...,1380,12.0,41636.363636
3065742,11674990,15,ARMIN EDELIRA ...,53939,2019/09/13 00:00:00.000,162,COCA COLA PET 500 CCX6 ...,1366,6.0,21818.181818
3065743,11733044,1,FELTES ...,114476,2019/09/28 00:00:00.000,168,COCA COLA REF PET 2 LT. ...,23,8.0,42909.090909
3065744,11733044,1,FELTES ...,114476,2019/09/28 00:00:00.000,649,1/1 BRAHMA X 12 ...,22,12.0,50818.181818

In [7]:
#Vemos los tipos de datos del nuevo dataframe creado de la unificacion
ventas.dtypes

idfactura                   int64
coddistribuidora            int64
nombredistribuidora        object
idcuenta                    int64
fechaemision               object
nroarticulo                 int64
descripcionarticulo        object
idmarca                     int64
cantidadxembalaje         float64
preciobrutosinimpuesto    float64
dtype: object

In [8]:
#Conversion de datos de las columnas del nuestro dataframe ventas, tipos de datos pandas a python.
ventas['idfactura'] = ventas['idfactura'].astype('int')
ventas['coddistribuidora'] = ventas['coddistribuidora'].astype('int')
ventas['nombredistribuidora'] = ventas['nombredistribuidora'].astype('string')
ventas['idcuenta'] = ventas['idcuenta'].astype('int')
ventas['fechaemision'] = ventas['fechaemision'].astype('string')
ventas['nroarticulo'] = ventas['nroarticulo'].astype('int')
ventas['descripcionarticulo'] = ventas['descripcionarticulo'].astype('string')
ventas['idmarca'] = ventas['idmarca'].astype('int')
ventas['cantidadxembalaje'] = ventas['cantidadxembalaje'].astype('int')
ventas['preciobrutosinimpuesto'] = ventas['preciobrutosinimpuesto'].astype('float')
#Vemos los tipos de datos del nuevo dataframe creado de la unificacion
ventas.dtypes

idfactura                   int32
coddistribuidora            int32
nombredistribuidora        string
idcuenta                    int32
fechaemision               string
nroarticulo                 int32
descripcionarticulo        string
idmarca                     int32
cantidadxembalaje           int32
preciobrutosinimpuesto    float64
dtype: object

In [29]:
#Por si querramos guardarlo en csv o excel
ventas.to_csv('ventas.csv', sep=';',index=False,decimal=',')

## 3 - Creación de modelo

`setup()` La función inicializa el entorno en PyCaret y transforma el conjunto de datos transaccionales en una forma aceptable para el algoritmo Apriori. Requiere tres parámetros obligatorios: pandas dataframe,, `transaction_id`que es el nombre de la columna que representa la identificación de la transacción y se utilizará para pivotar la matriz; `item_id` que es el nombre de la columna utilizada para la creación de reglas. Normalmente, esta será la variable de interés. También puede pasar un parámetro opcional e `ignore_items` ignorar ciertos valores para la creación de una regla.

-**Link de la libreria utilizada: https://pycaret.readthedocs.io/en/latest/index.html**
-**Reglas de Asociación: https://pycaret.readthedocs.io/en/latest/index.html**

In [9]:
from pycaret.arules import *

### Análisis general

In [10]:
configuracion  = setup(data = ventas, 
                    transaction_id = 'idfactura',
                    item_id = 'descripcionarticulo')

Una vez que la configuración se ejecuta con éxito, imprime la tabla con:

- **# Transacciones:** Número único de transacciones en el conjunto de datos. En este caso,  ʻidfactura` único. <br/>
<br/>
- **# elementos:** número único de elementos en el conjunto de datos. En este caso, "descripcionarticulo". <br/>
<br/>
- **Ignorar elementos:** Elementos que se deben ignorar en la minería de reglas. Muchas veces hay relaciones que son demasiado obvias y es posible que desee ignorarlas para este análisis. Por ejemplo: muchos conjuntos de datos transaccionales contendrán el costo de envío, que es una relación muy obvia que se puede ignorar en `setup ()` usando el parámetro ʻignore_items`.

In [11]:
from pycaret.arules import create_model

In [12]:
#Configuración predeterminada= (metric='confidence', threshold=0.5, min_support=0.05, round=4, low_memory=False, max_len=None)
analisis_ventas = create_model(metric='confidence', threshold=0.2, min_support=0.02, round=4, low_memory=False, max_len=None)

In [13]:
#Cabecera de los datos
analisis_ventas.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(SPRITE LITRO X 12 ...,(COCA COLA LIT X 12 ...,0.0280,0.1067,0.0231,0.8238,7.7193,0.0201,5.0686
1,(FANTA NARANJA LIT.X 12 ...,(COCA COLA LIT X 12 ...,0.0512,0.1067,0.0408,0.7982,7.4802,0.0354,4.4274
2,(SPRITE LITRO X 12 ...,(COCA COLA LIT X 12 ...,0.0521,0.1067,0.0412,0.7916,7.4184,0.0357,4.2873
3,(FANTA GUARANA LITROX12 ...,(COCA COLA LIT X 12 ...,0.0408,0.1067,0.0318,0.7790,7.2996,0.0275,4.0415
4,(FANTA PI�A LITROX12 ...,(COCA COLA LIT X 12 ...,0.0276,0.1067,0.0202,0.7314,6.8536,0.0173,3.3254

In [14]:
analisis_ventas

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(SPRITE LITRO X 12 ...,(COCA COLA LIT X 12 ...,0.0280,0.1067,0.0231,0.8238,7.7193,0.0201,5.0686
1,(FANTA NARANJA LIT.X 12 ...,(COCA COLA LIT X 12 ...,0.0512,0.1067,0.0408,0.7982,7.4802,0.0354,4.4274
2,(SPRITE LITRO X 12 ...,(COCA COLA LIT X 12 ...,0.0521,0.1067,0.0412,0.7916,7.4184,0.0357,4.2873
3,(FANTA GUARANA LITROX12 ...,(COCA COLA LIT X 12 ...,0.0408,0.1067,0.0318,0.7790,7.2996,0.0275,4.0415
4,(FANTA PI�A LITROX12 ...,(COCA COLA LIT X 12 ...,0.0276,0.1067,0.0202,0.7314,6.8536,0.0173,3.3254
5,(FANTA GUARANA PET 2L X 4 ...,(COCA COLA PET 2L X 4 ...,0.0469,0.1009,0.0321,0.6853,6.7894,0.0274,2.8567
6,(FANTA PET 2 LT X 4 ...,(COCA COLA PET 2L X 4 ...,0.0463,0.1009,0.0312,0.6737,6.6749,0.0265,2.7555
7,(COCA COLA PET 3.0L X 4 ...,(COCA COLA PET 2L X 4 ...,0.0333,0.1009,0.0223,0.6710,6.6476,0.0190,2.7324
8,(FANTA PI�A PET 2L X 4 ...,(COCA COLA PET 2L X 4 ...,0.0304,0.1009,0.0200,0.6586,6.5254,0.0170,2.6336
9,(SPRITE NUEVA PET 2LX4 ...,(COCA COLA PET 2L X 4 ...,0.0355,0.1009,0.0225,0.6354,6.2948,0.0190,2.4656
10,(COCA COLA PET 1.5 LT.X 6 ...,(COCA COLA PET 2L X 4 ...,0.0541,0.1009,0.0319,0.5893,5.8386,0.0264,2.1891
11,(FANTA NARANJA LIT.X 12 ...,(SPRITE LITRO X 12 ...,0.0408,0.0521,0.0231,0.5650,10.8498,0.0209,2.1790
12,(SPRITE LITRO X 12 ...,(FANTA NARANJA LIT.X 12 ...,0.0412,0.0512,0.0231,0.5598,10.9402,0.0210,2.1553
13,(FANTA NARANJA LIT.X 12 ...,(SPRITE LITRO X 12 ...,0.0512,0.0521,0.0280,0.5475,10.5136,0.0253,2.0947
14,(SPRITE LITRO X 12 ...,(FANTA NARANJA LIT.X 12 ...,0.0521,0.0512,0.0280,0.5379,10.5136,0.0253,2.0535
15,(FANTA GUARANA LITROX12 ...,(FANTA NARANJA LIT.X 12 ...,0.0408,0.0512,0.0216,0.5301,10.3598,0.0196,2.0191
16,(FANTA PET 2 LT X 4 ...,(FANTA GUARANA PET 2L X 4 ...,0.0463,0.0469,0.0235,0.5080,10.8303,0.0214,1.9370
17,(FANTA GUARANA PET 2L X 4 ...,(FANTA PET 2 LT X 4 ...,0.0469,0.0463,0.0235,0.5020,10.8303,0.0214,1.9149
18,(FANTA GUARANA LITROX12 ...,(SPRITE LITRO X 12 ...,0.0408,0.0521,0.0205,0.5015,9.6301,0.0184,1.9014
19,(1/1 PILSEN 940CC X12 ...,(1/1 BRAHMA X 12 ...,0.0431,0.3086,0.0204,0.4740,1.5358,0.0071,1.3144
20,(FANTA NARANJA LIT.X 12 ...,(SPRITE LITRO X 12 ...,0.0512,0.0412,0.0231,0.4510,10.9402,0.0210,1.7464
21,(SPRITE LITRO X 12 ...,(FANTA NARANJA LIT.X 12 ...,0.0521,0.0408,0.0231,0.4431,10.8498,0.0209,1.7224
22,(FANTA NARANJA LIT.X 12 ...,(FANTA GUARANA LITROX12 ...,0.0512,0.0408,0.0216,0.4231,10.3598,0.0196,1.6626
23,(SPRITE LITRO X 12 ...,(FANTA GUARANA LITROX12 ...,0.0521,0.0408,0.0205,0.3933,9.6301,0.0184,1.5809
24,(COCA COLA LIT X 12 ...,(SPRITE LITRO X 12 ...,0.1067,0.0521,0.0412,0.3863,7.4184,0.0357,1.5446
25,(COCA COLA LIT X 12 ...,(FANTA NARANJA LIT.X 12 ...,0.1067,0.0512,0.0408,0.3827,7.4802,0.0354,1.5371
26,(BRAHMA RET X24 340CC ...,(1/1 BRAHMA X 12 ...,0.0885,0.3086,0.0337,0.3811,1.2348,0.0064,1.1171
27,(OURO FINO CAN X12 0.269L ...,(1/1 BRAHMA X 12 ...,0.0569,0.3086,0.0213,0.3741,1.2122,0.0037,1.1046
28,(COCA COLA PET 2L X 4 ...,(FANTA GUARANA PET 2L X 4 ...,0.1009,0.0469,0.0321,0.3184,6.7894,0.0274,1.3984
29,(COCA COLA PET 2L X 4 ...,(COCA COLA PET 1.5 LT.X 6 ...,0.1009,0.0541,0.0319,0.3156,5.8386,0.0264,1.3821
30,(BRAHMA RET X24 340 NVBI ...,(1/1 BRAHMA X 12 ...,0.0986,0.3086,0.0309,0.3134,1.0154,0.0005,1.0069
31,"(BRAHMA SUB ZERO CAN X12 0,269 ...",(1/1 BRAHMA X 12 ...,0.1316,0.3086,0.0411,0.3126,1.0129,0.0005,1.0058
32,(COCA COLA PET 2L X 4 ...,(FANTA PET 2 LT X 4 ...,0.1009,0.0463,0.0312,0.3094,6.6749,0.0265,1.3809
33,(COCA COLA LIT X 12 ...,(FANTA GUARANA LITROX12 ...,0.1067,0.0408,0.0318,0.2981,7.2996,0.0275,1.3666
34,(COCA COLA PET 2L X 4 ...,(COCA COLA LIT X 12 ...,0.1009,0.1067,0.0297,0.2942,2.7571,0.0189,1.2657
35,(COCA COLA LIT X 12 ...,(COCA COLA PET 2L X 4 ...,0.1067,0.1009,0.0297,0.2783,2.7571,0.0189,1.2457
36,(COCA COLA LIT X 12 ...,(1/1 BRAHMA X 12 ...,0.1067,0.3086,0.0247,0.2314,0.7497,-0.0082,0.8995
37,(COCA COLA PET 2L X 4 ...,(SPRITE NUEVA PET 2LX4 ...,0.1009,0.0355,0.0225,0.2234,6.2948,0.0190,1.2419
38,(COCA COLA PET 2L X 4 ...,(COCA COLA PET 3.0L X 4 ...,0.1009,0.0333,0.0223,0.2212,6.6476,0.0190,1.2413
39,(COCA COLA LIT X 12 ...,(SPRITE LITRO X 12 ...,0.1067,0.0280,0.0231,0.2162,7.7193,0.0201,1.2401

**Guardar los resultados en un archivo csv**

In [15]:
analisis_ventas.to_csv('analisis_ventas.csv',index=False)

### Análisis por distribuidora

In [16]:
#Agrupamos e imprimimos las distribuidoras de nuestro dataset
distribuidoras = ventas['coddistribuidora'].groupby(ventas['nombredistribuidora'])
print(distribuidoras.mean())

nombredistribuidora
ARMIN CARAPEGUA                                                                                         12
ARMIN EDELIRA                                                                                           15
ARMIN S.A.                                                                                              26
CACERES                                                                                                  4
CAMPOS                                                                                                   9
CARDOZO                                                                                                  7
CURUGUATY - SAN BLAS                                                                                    27
Distribuidora SOL S.R.L                                                                                  6
FELTES                                                                                                   1
FLORIDA                                                                                                 11
GREFRAN                                                                                                  8
HEPP                                                                                                     3
O�ONDIVEMI                                                                                               2
SAN BLAS                                                                                                14
SOLEY                                                                                                    5
Name: coddistribuidora, dtype: int32

In [17]:
#Ver los valores unicos de codigo de distribuidora
ventas['coddistribuidora'].unique()

array([15, 27, 26,  7,  3,  1,  9,  2,  4, 11,  6,  8, 14,  5, 12])

In [18]:
#Filtar por el codigo de una distribuidora
ventas.query('coddistribuidora == 27')

,idfactura,coddistribuidora,nombredistribuidora,idcuenta,fechaemision,nroarticulo,descripcionarticulo,idmarca,cantidadxembalaje,preciobrutosinimpuesto
647,11730332,27,CURUGUATY - SAN BLAS ...,78181,2019/09/28 00:00:00.000,17920,BRAHMA RET X24 340 NVBI ...,2267,24,45909.090909
648,11730333,27,CURUGUATY - SAN BLAS ...,77344,2019/09/28 00:00:00.000,17920,BRAHMA RET X24 340 NVBI ...,2267,24,45909.090909
702,11733059,27,CURUGUATY - SAN BLAS ...,76237,2019/09/30 00:00:00.000,649,1/1 BRAHMA X 12 ...,2267,12,50818.181818
1540,11834437,27,CURUGUATY - SAN BLAS ...,77502,2019/10/25 00:00:00.000,649,1/1 BRAHMA X 12 ...,2267,12,50818.181818
1541,11834437,27,CURUGUATY - SAN BLAS ...,77502,2019/10/25 00:00:00.000,682,1/1 OURO FINO 940CC X12 ...,2249,12,50818.181818
...,...,...,...,...,...,...,...,...,...,...
3064858,11834435,27,CURUGUATY - SAN BLAS ...,84326,2019/10/25 00:00:00.000,649,1/1 BRAHMA X 12 ...,2267,12,50818.181818
3065147,11834436,27,CURUGUATY - SAN BLAS ...,78063,2019/10/25 00:00:00.000,1810,"BUD 66 OW X06 0,710 ...",2276,6,55454.545455
3065148,11834436,27,CURUGUATY - SAN BLAS ...,78063,2019/10/25 00:00:00.000,1688,BUD 66 CAN X12 0.354L ...,2276,12,55454.545455
3065149,11834436,27,CURUGUATY - SAN BLAS ...,78063,2019/10/25 00:00:00.000,17863,BRAHMA CAN X12 269 NVBI ...,2267,12,23181.818182
3065150,11834436,27,CURUGUATY - SAN BLAS ...,78063,2019/10/25 00:00:00.000,649,1/1 BRAHMA X 12 ...,2267,12,50818.181818

In [19]:
#Si solo queremos ver la canitdad de registros
len(ventas.query('coddistribuidora == 11'))

107778

In [20]:
#Analisis de la distribuidora cod=7
distri_7 = ventas.query('coddistribuidora == 27')
distri_7

,idfactura,coddistribuidora,nombredistribuidora,idcuenta,fechaemision,nroarticulo,descripcionarticulo,idmarca,cantidadxembalaje,preciobrutosinimpuesto
647,11730332,27,CURUGUATY - SAN BLAS ...,78181,2019/09/28 00:00:00.000,17920,BRAHMA RET X24 340 NVBI ...,2267,24,45909.090909
648,11730333,27,CURUGUATY - SAN BLAS ...,77344,2019/09/28 00:00:00.000,17920,BRAHMA RET X24 340 NVBI ...,2267,24,45909.090909
702,11733059,27,CURUGUATY - SAN BLAS ...,76237,2019/09/30 00:00:00.000,649,1/1 BRAHMA X 12 ...,2267,12,50818.181818
1540,11834437,27,CURUGUATY - SAN BLAS ...,77502,2019/10/25 00:00:00.000,649,1/1 BRAHMA X 12 ...,2267,12,50818.181818
1541,11834437,27,CURUGUATY - SAN BLAS ...,77502,2019/10/25 00:00:00.000,682,1/1 OURO FINO 940CC X12 ...,2249,12,50818.181818
...,...,...,...,...,...,...,...,...,...,...
3064858,11834435,27,CURUGUATY - SAN BLAS ...,84326,2019/10/25 00:00:00.000,649,1/1 BRAHMA X 12 ...,2267,12,50818.181818
3065147,11834436,27,CURUGUATY - SAN BLAS ...,78063,2019/10/25 00:00:00.000,1810,"BUD 66 OW X06 0,710 ...",2276,6,55454.545455
3065148,11834436,27,CURUGUATY - SAN BLAS ...,78063,2019/10/25 00:00:00.000,1688,BUD 66 CAN X12 0.354L ...,2276,12,55454.545455
3065149,11834436,27,CURUGUATY - SAN BLAS ...,78063,2019/10/25 00:00:00.000,17863,BRAHMA CAN X12 269 NVBI ...,2267,12,23181.818182
3065150,11834436,27,CURUGUATY - SAN BLAS ...,78063,2019/10/25 00:00:00.000,649,1/1 BRAHMA X 12 ...,2267,12,50818.181818

In [21]:
distri_7.dtypes

idfactura                   int32
coddistribuidora            int32
nombredistribuidora        string
idcuenta                    int32
fechaemision               string
nroarticulo                 int32
descripcionarticulo        string
idmarca                     int32
cantidadxembalaje           int32
preciobrutosinimpuesto    float64
dtype: object

In [30]:
#Por si querramos guardarlo en csv o excel
distri_7.to_csv('distri_7.csv', sep=';',index=False,decimal=',')

#### creación de modelo

In [22]:
configuracion  = setup(data = distri_7, 
                    transaction_id = 'idfactura',
                    item_id = 'descripcionarticulo')

In [23]:
from pycaret.arules import create_model
analisis_distri7 = create_model(metric='confidence', threshold=0.2, min_support=0.02, round=4, low_memory=False, max_len=None)

In [24]:
analisis_distri7.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(BRAHMA CAN X12 269 NVBI ...,(1/1 BRAHMA X 12 ...,0.0811,0.4521,0.0380,0.4690,1.0374,0.0014,1.0318
1,(BRAHMA CAN X12 269 NVBI ...,"(BRAHMA SUB ZERO CAN X12 0,269 ...",0.0840,0.2507,0.0380,0.4526,1.8053,0.0170,1.3688
2,"(BRAHMA SUB ZERO CAN X12 0,269 ...",(1/1 BRAHMA X 12 ...,0.2507,0.4521,0.1029,0.4103,0.9077,-0.0105,0.9292
3,"(BUD 66 OW X06 0,710 ...",(1/1 BRAHMA X 12 ...,0.0658,0.4521,0.0270,0.4102,0.9073,-0.0028,0.9290
4,(BRAHMA CAN X12 269 NVBI ...,(1/1 BRAHMA X 12 ...,0.2149,0.4521,0.0840,0.3910,0.8650,-0.0131,0.8998

In [25]:
analisis_distri7.to_csv('analisis_distri7.csv',index=False)